<a href="https://colab.research.google.com/github/harrietspence/harrietspence.github.io/blob/main/P_income_US_tidy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('BEA_income_percapita2.csv')
df

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,United States,35868,38120,39883,41026,39356,40683,42747,44548,44798,46887,48725,49613,51550,53786,56250,59765,64143
1,Alabama,29949,31474,32739,33583,32769,33946,35010,35824,36014,37055,38531,39014,40223,41539,43288,46179,49769
2,Alaska,39075,41157,43906,47869,47258,49652,52569,53708,52812,55867,57575,56278,57189,59618,61316,62756,65813
3,Arizona,32327,34703,35872,35748,33524,33876,35321,36545,37139,38756,40334,41473,43497,45466,48124,52327,55487
4,Arkansas,28227,29617,31303,32306,31472,32372,34279,36582,36677,38749,39968,40873,41890,43384,44324,47154,50625
5,California,38932,41746,43385,43567,41689,43246,45557,48121,48502,51266,54546,56560,58804,61508,64919,70647,76614
6,Colorado,37797,40137,42074,42953,40093,40790,43658,45630,47404,50797,52339,52390,55251,58453,62124,65358,70706
7,Connecticut,49738,53696,57684,60970,59684,61743,63132,64121,62647,65498,67321,68680,70011,72926,75533,78463,83294
8,Delaware,39370,41053,41733,40894,40856,40942,43962,44070,44404,46015,47868,48734,50417,52716,54217,56324,59931
9,Florida,35999,38386,39594,39401,36818,38872,40517,41540,41162,43516,45659,46454,49055,51520,54560,57292,62270
10,Georgia,33445,34791,35680,35438,34274,34829,36842,37495,37794,39969,41941,43033,44993,46855,49083,51987,55786
11,Hawaii,36375,38480,40490,41969,41082,41574,42809,43812,43931,46044,47777,49122,51114,52164,54700,57241,60947
12,Idaho,29392,31476,32707,32841,31281,32097,33579,35110,36095,37680,39386,40098,41457,43217,45924,49491,52369
13,Illinois,37975,40365,42513,43460,41180,42278,44194,46029,47047,49238,51443,52036,53611,56536,58438,62139,67244
14,Indiana,31566,33123,34055,35408,34267,35695,37799,39433,39766,41188,42667,43645,45015,46945,48749,52219,56497
15,Iowa,32621,34448,36680,38703,37286,38312,41036,42873,43439,44699,46104,46291,47246,49163,50367,53312,57163
16,Kansas,32545,35690,38057,41257,39431,39960,43015,45294,46174,47013,47332,47326,48651,50663,52876,55974,58924
17,Kentucky,29241,30660,31728,33002,32397,33409,34799,35875,36058,37645,39232,39750,40751,41974,43875,47525,51266
18,Louisiana,30139,33850,36432,38522,36930,38242,39124,41003,41376,43085,43113,42725,44056,46057,47668,50809,54217
19,Maine,32925,34451,35686,37163,37157,38106,39690,40411,40329,41797,43672,44740,46378,48141,50728,54912,58484
20,Maryland,43515,45576,47327,49186,48448,49668,51845,52787,52249,53659,55825,57632,59155,60577,62313,65685,69817
21,Massachusetts,44371,47750,50085,51810,50772,52894,54812,56669,56628,58924,62376,64295,66679,69693,73213,78388,83653
22,Michigan,32946,33812,34929,35969,34307,35760,37781,39266,39566,41207,43425,44527,45716,47457,49142,53388,56494
23,Minnesota,38065,39667,41655,43161,41079,42724,45323,47726,47838,49967,51985,52596,54266,56539,58543,62240,66280
24,Mississippi,26835,27981,29554,30785,30157,31287,32546,33657,34259,34896,35533,36021,36902,37900,39445,42716,45881
25,Missouri,32467,34119,35502,37312,36385,37118,38533,40317,40569,41963,43322,44410,45239,47085,49001,52108,55325
26,Montana,30074,32193,34183,35792,34689,36393,38558,40701,40674,42494,43941,44063,46036,47612,50289,54106,56949
27,Nebraska,34666,36019,38531,40535,39535,41248,45674,46670,46653,48957,50556,49360,50144,51916,54182,57421,61205
28,Nevada,38109,39767,40212,38836,36231,37494,38777,39909,39664,41773,44493,45450,47485,49678,52602,55406,60213
29,New Hampshire,40619,43153,44695,45886,45101,47098,49131,51123,50865,52643,54684,56321,58362,60831,64747,68542,73200
30,New Jersey,44467,47695,50473,51779,49854,51076,52947,54574,54813,57065,59175,60533,62465,64914,68438,71505,77016
31,New Mexico,28858,30597,31950,33649,32911,33710,35045,35749,35088,37219,38103,38775,39458,41218,43530,46760,50311
32,New York,40884,44128,47428,48184,47027,48768,50904,53102,53395,55290,57481,59280,62913,64849,67366,71577,76837
33,North Carolina,32345,34385,36211,37835,35933,35872,36902,39103,38394,40293,42076,42936,44591,46352,48741,51900,56173
34,North Dakota,31967,33357,36709,41075,40212,44264,49000,56443,54900,57523,53991,52005,52521,55396,57110,60864,64524
35,Ohio,32607,34214,35629,36827,35755,36854,39245,40759,41259,42829,44442,45212,46646,48327,50035,53545,56879
36,Oklahoma,31856,34854,35711,39325,35917,37276,39800,42232,44017,46614,44894,42521,44423,46415,48646,50518,53870
37,Oregon,32296,34716,35879,36992,35313,36036,37596,39371,39788,42134,44694,45999,47974,50567,52718,57005,61596
38,Pennsylvania,36410,38109,40337,41728,40530,42251,44211,45855,46213,48063,49927,51181,52421,55030,56952,60685,64279
39,Rhode Island,36984,39028,40894,41638,40610,42766,44201,45601,45447,47199,48682,49184,50982,52659,55830,59941,64376
40,South Carolina,29285,30984,32402,33234,32010,32852,34479,35989,36204,38152,40053,41178,42758,44155,46681,49105,52467
41,South Dakota,33788,35299,38748,41168,39518,41423,44758,45442,45608,47488,49186,49192,50104,52166,55294,60446,64462
42,Tennessee,31548,33065,34164,35059,34446,35851,37727,39373,39454,40753,42535,43499,44879,46870,49343,52351,56560
43,Texas,33276,35630,37085,39946,37269,39034,42037,44241,44816,47370,47465,46586,49231,52005,54076,55601,59865
44,Utah,28927,31327,33165,33941,31858,32218,34190,36005,36511,38168,40459,41750,43241,45665,48580,52225,56019
45,Vermont,34878,37008,38944,41022,40479,41733,43982,45277,45770,47641,48876,49621,50771,52409,55442,59296,61882
46,Virginia,40167,42385,44248,45514,44087,45513,47608,49309,48573,50318,52238,53268,54879,56619,59073,62189,66305
47,Washington,37384,40027,42819,44241,41591,42348,44225,47320,47857,50890,53083,54918,57265,60221,64189,68350,73775
48,West Virginia,26981,28704,29711,31607,31718,32762,34581,35453,35318,36570,37468,37380,39140,41279,42951,45240,48488
49,Wisconsin,34447,36338,37816,39055,38182,39175,41209,42944,43050,44709,46548,47205,48758,50908,52893,55941,59626
50,Wyoming,39385,44492,46278,49746,44564,46649,50783,54213,53776,57749,57846,54827,57184,60472,64117,65782,69666

In [39]:
df.head(2)

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,United States,35868,38120,39883,41026,39356,40683,42747,44548,44798,46887,48725,49613,51550,53786,56250,59765,64143
1,Alabama,29949,31474,32739,33583,32769,33946,35010,35824,36014,37055,38531,39014,40223,41539,43288,46179,49769

In [40]:
df2 = df.set_index(['State']).stack().reset_index()
df2

             State level_1      0
0    United States    2005  35868
1    United States    2006  38120
2    United States    2007  39883
3    United States    2008  41026
4    United States    2009  39356
..             ...     ...    ...
862        Wyoming    2017  57184
863        Wyoming    2018  60472
864        Wyoming    2019  64117
865        Wyoming    2020  65782
866        Wyoming    2021  69666

[867 rows x 3 columns]

In [41]:
df2.columns

Index(['State', 'level_1', 0], dtype='object')

In [43]:
df3 = df2.rename(columns={'level_2':'Year', 0:'Per capita personal income'})
df3

             State level_1  Per capita personal income
0    United States    2005                       35868
1    United States    2006                       38120
2    United States    2007                       39883
3    United States    2008                       41026
4    United States    2009                       39356
..             ...     ...                         ...
862        Wyoming    2017                       57184
863        Wyoming    2018                       60472
864        Wyoming    2019                       64117
865        Wyoming    2020                       65782
866        Wyoming    2021                       69666

[867 rows x 3 columns]

In [45]:
from google.colab import files
df3.to_csv('P_income_US_tidy.csv') 
files.download('P_income_US_tidy.csv')