<a href="https://colab.research.google.com/github/harrietspence/harrietspence.github.io/blob/main/P_tidy_states_2005_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('P_states_2005_2020.csv')
df

     YEAR STATE          State  RATE  DEATHS
0    2020    AL        Alabama  23.6    1141
1    2020    AK         Alaska  23.5     175
2    2020    AZ        Arizona  16.7    1265
3    2020    AR       Arkansas  22.6     673
4    2020    CA     California   8.5    3449
..    ...   ...            ...   ...     ...
345  2014    VA       Virginia  10.3     889
346  2014    WA     Washington   9.7     702
347  2014    WV  West Virginia  14.6     286
348  2014    WI      Wisconsin   8.2     487
349  2014    WY        Wyoming  16.2      93

[350 rows x 5 columns]

In [ ]:
df.head(1)

   YEAR STATE    State  RATE  DEATHS
0  2020    AL  Alabama  23.6    1141

In [ ]:
df2 = df.drop(['DEATHS','STATE'], axis=1)
df2

     YEAR          State  RATE
0    2020        Alabama  23.6
1    2020         Alaska  23.5
2    2020        Arizona  16.7
3    2020       Arkansas  22.6
4    2020     California   8.5
..    ...            ...   ...
345  2014       Virginia  10.3
346  2014     Washington   9.7
347  2014  West Virginia  14.6
348  2014      Wisconsin   8.2
349  2014        Wyoming  16.2

[350 rows x 3 columns]

In [ ]:
df3 = df2.set_index(['State','YEAR']).stack().reset_index()

In [ ]:
df3

             State  YEAR level_2     0
0          Alabama  2020    RATE  23.6
1           Alaska  2020    RATE  23.5
2          Arizona  2020    RATE  16.7
3         Arkansas  2020    RATE  22.6
4       California  2020    RATE   8.5
..             ...   ...     ...   ...
345       Virginia  2014    RATE  10.3
346     Washington  2014    RATE   9.7
347  West Virginia  2014    RATE  14.6
348      Wisconsin  2014    RATE   8.2
349        Wyoming  2014    RATE  16.2

[350 rows x 4 columns]

In [ ]:
df3.columns

Index(['State', 'YEAR', 'level_2', 0], dtype='object')

In [ ]:
df4 = df3.rename(columns={'level_2':'NA', 0:'Firearm Mortality Rate'})
df4

             State  YEAR    NA  Firearm Mortality Rate
0          Alabama  2020  RATE                    23.6
1           Alaska  2020  RATE                    23.5
2          Arizona  2020  RATE                    16.7
3         Arkansas  2020  RATE                    22.6
4       California  2020  RATE                     8.5
..             ...   ...   ...                     ...
345       Virginia  2014  RATE                    10.3
346     Washington  2014  RATE                     9.7
347  West Virginia  2014  RATE                    14.6
348      Wisconsin  2014  RATE                     8.2
349        Wyoming  2014  RATE                    16.2

[350 rows x 4 columns]